.bottom_center {
  background: url("images/bottom-center.png") repeat-x bottom;
}

.center_right {
  background: url("images/center-right.png") repeat-y right;
}

.bottom_right {
  background: url("images/bottom-right.png") no-repeat right bottom;
}

.top_center {
  background: url("images/top-center.png") repeat-x;
}

.top_right {
  background: url("images/top-right.png") no-repeat right top;
}

.center_left {
  background: url("images/center-left.png") repeat-y;
}

.bottom_left {
  background: url("images/bottom-left.png") no-repeat left bottom;
}

.top_left {
  background: url("images/top-left.png") no-repeat left top;
}

p {
  font-size: 30px;
  padding: 40px;
  text-align: center;
  font-family: sans-serif;
}
div {
  overflow: auto;
}
