.top-botton {
  color: blue;
  background: aqua;
  font-size: 30px;
  text-align: center;
}
.top {
  line-height: 150%;
}
.menu {
  width: 155px;
  padding-right: 20px;
  background: yellow;
  text-align: left;
  vertical-align: top;
}
.top-menu {
  font-size: 18px;
  font-weight: bold;
}
.background {
  background: url("/images/ball.png") repeat-y top right;
  display: block;
  text-align: top;
  height: 600px;
}
img {
  float: left;
  margin: 0 20px 20px 20px;
}
p {
  padding: 0 20px;
}
.bottom {
  line-height: 250%;
}
h2 {
  text-align: center;
}
