@media only print {
  * {
    color: black;
  }
  img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
  }
}
@media only screen and (max-width: 1920px) and (max-height: 1080px) {
  * {
    font-size: 1.15rem;
  }
}
@media only screen and (max-width: 1280px) and (max-height: 720px) {
  .nav {
    height: 662px;
  }
}
@media only screen and (max-width: 640px) and (max-height: 480px) {
  img {
    width: 30%;
  }
}
.main {
  background: url("/images/ball.png") repeat-y top right;
}
.header {
  border: 1px solid white;
  line-height: 20%;
  width: 100%;
}
.top-bottom {
  background: aqua;
  color: blue;
  font-size: 30px;
  text-align: center;
}
.nav {
  background-repeat: repeat-y;
  background: yellow;
  float: left;
  height: 100%;
  margin: 0 20px 0 0;
  padding-right: 20px;
  text-align: left;
  vertical-align: top;
  width: 155px;
}
.top-menu {
  font-size: 18px;
  font-weight: bold;
  padding: 0 20px;
}
.article {
  padding-right: 15px;
  text-align: top;
}
h2 {
  text-align: center;
}
img {
  float: left;
  margin: 0 20px 20px 0px;
}
.footer {
  clear: both;
  line-height: 300%;
}
