div {
  margin: 10px;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  width: auto;
  height: 100px;
  font-size: x-large;
  text-indent: 15px;
  line-height: 20px;
  font-weight: 800;
  font-style: italic;
  font-variant: normal;
  letter-spacing: 5px;
  word-spacing: 30px;
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #69b379;
}
.sidebar {
  height: 200px;
  background-color: #c9ffd5;
}

.main {
  height: 300px;
  background-color: #b1ffc2;
}

.footer {
  background-color: #bd515e;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
