.rating {
  direction: rtl;
  display: inline-block;
}

span {
  color: red;
  font-size: 300px;
}

.rating > span {
  position: relative;
}

.rating > span:hover::before,
.rating > span:hover ~ span::before {
  content: "\2605";
  position: absolute;
}
