/* 1st method. Separators are made by the style property border, as well as
the last-child pseudo-class. Link colors made using pseudo-classes
hover, link*/
/*The easiest way to style links*/
td {
  border-right: 3px solid red;
  padding: 15px;
}
td:last-child {
  border-color: white;
}
.method-1 a:hover {
  color: red;
}
.method-1 a:link {
  color: green;
}
/*2nd method. Separators are made using the after pseudo-element, as well as
the last-child pseudo-class. Link colors made using pseudo-classes
hover, link*/
.method-2 a::after {
  border-right: 3px solid red;
  content: "";
  padding: 15px;
}
.method-2 a:last-child::after {
  border-right: white;
}
.method-2 a:hover {
  color: red;
}
.method-2 a:link {
  color: green;
}
.method-2 a {
  padding-left: 10px;
}
/*3rd method. We do the bulleted list first as a text element
for layout on one line. Separators are made using the before pseudo-element as well
pseudo-class first-child. Link colors made using pseudo-classes
hover, link*/
.method-3 li {
  display: inline;
  padding-right: 10px;
}
.method-3 li::before {
  border-left: 3px solid red;
  content: "";
  padding: 15px;
}
.method-3 li:first-child::before {
  border-left-color: white;
}
.method-3 a:hover {
  color: red;
}
.method-3 a:link {
  color: green;
}
