svg {
  height: 1200px;
  width: 1200px;
}

circle[r="180"],
circle[r="100"],
circle[r="10"] {
  fill: white;
}

ellipse[rx="35"],
ellipse[rx="25"],
.leg-left,
.leg-right {
  fill: orange;
}

ellipse[cx="260"],
ellipse[cx="435"] {
  fill: plum;
}

.leg-left {
  transform: rotate(-20deg);
}

.leg-right {
  transform: rotate(20deg);
}

g:hover circle[cx="280"] {
  animation: circle 3s ease;
}

@keyframes circle {
  0% {
    fill: black;
  }
}

g:hover .hand-left {
  animation: hand-left 0.2s ease infinite 1.5s;
}

@keyframes hand-left {
  100% {
    transform: skewX(-2.3deg);
  }
}

g:hover .hand-right {
  animation: hand-right 0.2s ease infinite 1.5s;
}

@keyframes hand-right {
  100% {
    transform: skewX(2.3deg);
  }
}

g:hover .leg-left {
  animation: leg-left 1s ease 1 1.4s;
}

@keyframes leg-left {
  0% {
    cy: 690px;
    transform: rotate(-18deg);
  }
}

g:hover .leg-right {
  animation: leg-right 1s ease-out 1 1.4s;
}

@keyframes leg-right {
  0% {
    cy: 480px;
    transform: rotate(18deg);
  }
}

g:hover {
  animation: position 10s ease-out 1 1.6s;
}

@keyframes position {
  25% {
    transform: translateY(-500px);
  }
  50% {
    transform: translateY(-200px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-700px);
  }
}

g:hover :nth-child(15) {
  animation: tongue 1.8s ease-out 1 7s;
}

@keyframes tongue {
  100% {
    fill: red;
    ry: 20px;
  }
}
