table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
}

tr:first-child,
tr:last-child {
  background-color: green;
  height: 25px;
}

tr:first-child td:nth-child(even),
tr:last-child td:nth-child(odd) {
  background-color: green !important;
}

td:first-child,
td:last-child {
  background-color: green !important;
  width: 25px;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: black;
}
