@media only all and (max-width: 400px) {
  label {
    display: block;
    padding: 0 0 5px 0;
  }

  label.articletitle span {
    display: block;
    margin: 10px 0 0 0;
  }

  .articletitle input[name="articletitle"] {
    width: 90%;
    margin: 0;
  }

  label.heading span {
    display: block;
  }

  select[name="heading"] {
    width: 91%;
  }

  label.publication div {
    display: block;
  }

  form label.allowcomments span {
    padding: 0;
  }
}

form {
  padding: 20px 0 0 20px;
  width: 100%;
}

label {
  display: block;
  padding: 0 0 5px 0;
}

div {
  display: inline;
}

input[name="articletitle"] {
  margin: 10px 0 5px 75px;
}

label.heading span {
  padding: 0 131px 0 0;
}

label.publication span:first-child {
  padding: 0 105px 0 0;
}

label.allowcomments span {
  padding: 0 21px 0 0;
}

label.articletext span {
  display: block;
  padding: 0 0 5px 0;
}
