p {
  margin: 50px;
}

div {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 100px;
}

img {
  position: absolute;
  width: 200%;
}

.biohazard {
  left: -90px;
}

.man-and-woman {
  left: 95px;
}

.no-smoking {
  top: 70px;
}

.yin-and-yang {
  bottom: -350px;
  left: 0px;
}

.biohazard:hover,
.man-and-woman:hover,
.yin-and-yang:hover {
  z-index: 1;
}
