.main {
  background: url("/images/ball.png") repeat-y top right;
}

.top-bottom {
  background: aqua;
  color: blue;
  display: flex;
  font-size: 30px;
  justify-content: center;
  line-height: 20%;
}

.nav-article {
  display: flex;
}

.nav {
  background-repeat: repeat-y;
  background: yellow;
  height: 100%;
  margin: 0 30px 0 0;
  padding-right: 20px;
  width: 155px;
}

.article {
  padding-right: 15px;
}

.top-menu {
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 0 20px;
}

h2 {
  text-align: center;
}

img {
  float: left;
  margin: 0 20px 20px 0px;
}

@media only screen and (max-width: 320px) {
  .main,
  .nav {
    background: white;
  }

  .top-bottom {
    display: none;
  }

  .nav-article {
    display: flex;
    flex-direction: column-reverse;
  }

  .nav,
  img {
    width: 100%;
  }

  .article,
  .top-menu,
  ul {
    padding: 0 15px;
  }

  ul li {
    display: inline;
    margin-right: 20px;
  }
}
