/*2nd method. Without pseudo-element selectors in general.*/
body {
  padding: 20px 30px 0 30px;
}
a {
  text-decoration: none;
}
.birthday {
  color: green;
}
.champion {
  color: red;
}
.color-blue {
  color: blue;
}
h1,
p {
  margin: 0;
}
p.color-blue {
  margin-bottom: 30px;
}
