/*1st method. Using pseudo-element selector ::before.*/
body {
  padding: 20px 30px 0 30px;
}
a {
  text-decoration: none;
}
.birthday {
  color: green;
}
.champion {
  color: red;
}
.color-blue {
  color: blue;
}
a:nth-child(4)::before {
  content: url("image/extref.png");
}
h1,
p {
  margin: 0;
}
p.color-blue {
  margin-bottom: 30px;
}
