svg {
  width: 1200px;
  height: 1200px;
}

circle[r="180"],
circle[r="100"],
circle[r="10"] {
  fill: white;
}

ellipse[rx="35"],
ellipse[rx="25"],
.leg-left,
.leg-right {
  fill: orange;
}

ellipse[cx="260"],
ellipse[cx="435"] {
  fill: plum;
}

.leg-left {
  transform: rotate(-20deg);
}

.leg-right {
  transform: rotate(20deg);
}

g:hover .hand-left {
  transform: skewX(-2deg);
}

g:hover .hand-right {
  transform: skewX(2deg);
}

g:hover circle[cx="280"] {
  fill: black;
}
