:root {
  --main-color: rgb(251, 156, 6);
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "questions"
    "article"
    "content"
    "form"
    "footer";
  grid-template-columns: repeat(1, 1600px);
  grid-template-rows: 128px 409px 215px 603px 486px 71px;
  justify-content: center;
}

header {
  display: flex;
  grid-area: header;
  height: 100px;
  left: -39px;
  position: fixed;
}

.logo {
  display: flex;
  margin-left: 218px;
  margin-top: 5px;
}

.logo img {
  display: inline;
  height: 105px;
}

.logo-text {
  color: rgb(110, 109, 107);
  font-family: "Bebas-Regular";
  font-size: 46px;
  letter-spacing: 2.1px;
  margin-left: 51px;
  margin-top: 0px;
}

.logo-text span {
  color: var(--main-color);
  display: block;
  font-family: "Calibri-regular";
  font-size: 38px;
  letter-spacing: 0.6px;
  margin-left: 4px;
  margin-top: 7px;
}

nav {
  margin-left: 312px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 1px;
  padding-top: 3px;
  padding: 0px;
  width: 563px;
}

li {
  display: flex;
  flex-direction: column;
}

.icon-home-icon,
.icon-about-icon,
.icon-work-icon,
.icon-blog-icon,
.icon-contact-icon {
  color: rgb(110, 109, 107);
  display: block;
  font-size: 46px;
  padding-bottom: 14px;
}

.icon-home-icon {
  padding-top: 2px;
}

.icon-about-icon {
  font-size: 43px;
  padding-left: 21px;
  padding-top: 5px;
}

.icon-about-icon ~ .link-text-two {
  margin-left: 0px;
}

.icon-work-icon {
  font-size: 42px;
  margin-left: -2px;
  margin-top: 6px;
}

.icon-work-icon ~ .link-text-three {
  padding-right: 9px;
}

.icon-blog-icon {
  font-size: 40px;
  padding-right: 13px;
  padding-top: 7px;
}

.icon-contact-icon {
  font-size: 33px;
  margin-left: 14px;
  margin-top: 15px;
}

.icon-contact-icon ~ .link-text-five {
  margin-right: -3px;
}

li a {
  color: rgb(158, 155, 155);
  font-family: "Calibri-regular";
  font-size: 23px;
  text-decoration: none;
}

a span:hover,
a:hover {
  color: var(--main-color);
}

.questions {
  background-image: url("../images/big-orange-bg.png");
  border-bottom: 5px solid var(--main-color);
  border-top: 4px solid var(--main-color);
  grid-area: questions;
}

.questions p:first-child {
  background-color: rgb(0, 0, 0);
  color: var(--main-color);
  display: inline-block;
  font-family: "Bebas-Regular";
  font-size: 46px;
  height: 61px;
  left: 181px;
  letter-spacing: 1.1px;
  opacity: 0.69;
  padding-left: 14px;
  padding-top: 5px;
  position: absolute;
  text-align: center;
  top: 216px;
  width: 368px;
  word-spacing: -7px;
}

.questions p:last-child {
  background-color: rgb(255, 175, 18);
  color: rgb(110, 109, 107);
  display: inline-block;
  font-family: "Bebas-Regular";
  font-size: 46px;
  height: 69px;
  left: 172px;
  letter-spacing: 1px;
  opacity: 0.702;
  padding-left: 12px;
  padding-top: 7px;
  position: absolute;
  text-align: center;
  top: 310px;
  width: 383px;
  word-spacing: -7px;
}

.articles {
  border-bottom: 1px solid rgb(242, 242, 242);
  display: grid;
  grid-area: article;
  justify-content: center;
  overflow: hidden;
  padding-top: 11px;
  grid-template-areas: "articles articles articles articles";
  grid-template-columns: repeat(4, 291px);
  grid-template-rows: 215px;
}

.articles p {
  font-family: "Calibri-regular";
  font-size: 15px;
  grid-area: articles;
  height: 139.2px;
  line-height: 23.5px;
  margin-bottom: 0px;
  overflow: hidden;
  width: 265px;
}

.articles div:nth-child(1),
.articles div:nth-child(2),
.articles div:nth-child(3),
.articles div:nth-child(4) {
  letter-spacing: 0.4px;
}

.articles div:nth-child(1),
.articles div:nth-child(2) {
  padding-right: 13px;
}

.articles div:nth-child(1) {
  margin-left: 3px;
}

.articles div:nth-child(2) {
  margin-left: 13px;
}

.articles div:nth-child(3) {
  margin-left: 22px;
}

.articles div:nth-child(4) {
  margin-left: 31px;
  margin-right: -4px;
}

.button-article {
  background-color: rgb(255, 255, 255);
  border: none;
  color: var(--main-color);
  cursor: pointer;
  font-family: "Calibri-light-Italic";
  font-size: 17px;
  height: 23px;
  letter-spacing: 0.5px;
  padding-left: 166px;
  padding-top: 0px;
  width: 276px;
}

.content {
  grid-area: content;
}

.content-container {
  display: flex;
  height: 536px;
  justify-content: space-between;
  margin-left: 154px;
  margin-top: 2px;
  width: 1200px;
}

.content-container figure {
  width: 300px;
}

.content-container figure:nth-child(2) {
  margin-left: 125px;
  margin-top: 17px;
}

.content-container figure:nth-child(3) {
  margin-left: 96px;
  margin-top: 21px;
}

img[alt="horse"],
img[alt="rabbit"],
img[alt="ostrich"] {
  border-radius: 295px;
  border: 9px solid rgb(255, 181, 64);
  height: 295px;
  width: 295px;
}

h2 {
  color: rgb(255, 156, 0);
  font-family: "STMarie-Thin";
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 1px;
  margin-left: 22px;
  margin-top: 19px;
  text-align: center;
  text-decoration: underline;
}

h3 {
  color: rgb(110, 109, 107);
  font-family: "Calibri-Light";
  font-size: 22px;
  text-align: center;
}

.hoof {
  letter-spacing: 0.4px;
  margin-bottom: 27px;
  margin-top: 21px;
  padding-left: 18px;
  word-spacing: 2px;
}

.nibs {
  letter-spacing: 0.6px;
  margin-bottom: 27px;
  margin-top: 20px;
  padding-right: 4px;
  word-spacing: 2px;
}

.squawk {
  letter-spacing: 0.5px;
  margin-bottom: 29px;
  margin-top: 15px;
  padding-left: 33px;
  word-spacing: 2px;
}

.hoof-article {
  height: 87px;
  letter-spacing: 0.4px;
  line-height: 1.58;
  margin-top: 19px;
  padding-left: 38px;
  width: 263px;
}

.nibs-article {
  height: 87px;
  letter-spacing: 0.4px;
  line-height: 1.58;
  margin-top: 17px;
  padding-left: 41px;
  width: 263px;
}

.squawk-article {
  height: 87px;
  letter-spacing: 0.4px;
  line-height: 1.58;
  margin-top: 14px;
  padding-left: 37px;
  width: 263px;
}

.content-container span {
  color: rgb(255, 156, 6);
}

.content-container p {
  color: rgb(51, 51, 51);
  font-family: "Calibri-Light";
  font-size: 15px;
}

.forms {
  grid-area: form;
}

.forms h2 {
  margin-left: 34px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 327px;
  margin-top: 61px;
}

fieldset {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: column;
  height: 237px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  width: 1300px;
}

label {
  color: var(--main-color);
  display: flex;
  font-family: "STMarie-Thin";
  font-size: 24px;
  justify-content: space-between;
  letter-spacing: 0.6px;
  line-height: 23.16px;
  margin-bottom: 10px;
  margin-left: 35px;
}

.name {
  margin-bottom: 9px;
  margin-left: 13px;
  margin-top: 8px;
}

.email {
  margin-bottom: 5px;
  margin-left: 16px;
  margin-top: 33px;
}

.message {
  margin-bottom: 5px;
  margin-left: 12px;
  margin-top: 33px;
}

fieldset label:nth-child(2) {
  margin-top: 10px;
}

fieldset label:nth-child(3) {
  margin-top: 10px;
}

input[name="name"] {
  margin-right: 48px;
  margin-top: 7px;
}

input[name="email"] {
  margin-right: 48px;
  margin-top: 27px;
}

input[name="name"],
input[name="email"] {
  background-color: rgb(247, 246, 245);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px solid rgb(210, 208, 207);
  box-shadow: inset 5px 0px 0px 0px rgba(198, 197, 197, 0.75);
  height: 29px;
  opacity: 0.922;
  width: 1070px;
}

textarea {
  background-color: rgb(247, 246, 245);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px solid rgb(210, 208, 207);
  box-shadow: inset 5px 0px 0px 0px rgba(198, 197, 197, 0.75);
  height: 85px;
  margin-right: 46px;
  margin-top: 26px;
  opacity: 0.922;
  width: 1068px;
}

.button-form {
  align-self: flex-end;
  background-color: var(--main-color);
  border-bottom: 4px solid rgb(204, 131, 15);
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: "STMarie-Thin";
  font-size: 30px;
  height: 50px;
  letter-spacing: 1.1px;
  margin-right: 231px;
  margin-top: 13px;
  padding-bottom: 5px;
  width: 176px;
}

footer {
  background-color: var(--main-color);
  border-bottom: 5px solid rgb(204, 131, 15);
  bottom: 0px;
  color: rgb(255, 255, 255);
  font-family: "STMarie-Thin";
  font-size: 33px;
  grid-area: footer;
  height: 71px;
  line-height: 23.16px;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer p {
  display: inline-block;
  letter-spacing: 0.84px;
  margin-right: -14px;
  margin-top: 21px;
}
