.main {
  background: url("/images/ball.png") repeat-y top right;
}

.header {
  line-height: 20%;
  border: 1px solid white;
}

.top-bottom {
  color: blue;
  background: aqua;
  font-size: 30px;
  text-align: center;
}

.nav {
  width: 155px;
  height: 100%;
  padding-right: 20px;
  background: yellow;
  background-repeat: repeat-y;
  text-align: left;
  vertical-align: top;
  float: left;
  margin: 0 20px 0 0;
}

.top-menu {
  font-size: 18px;
  font-weight: bold;
  padding: 0 20px;
}

.article {
  text-align: top;
  padding-right: 15px;
}

h2 {
  text-align: center;
}

img {
  float: left;
  margin: 0 20px 20px 0px;
}

.footer {
  clear: both;
  line-height: 300%;
}

.hanging-block {
  background-color: rgba(11, 214, 11, 0.829);
  border: 2px solid green;
  height: 50px;
  position: fixed;
  right: 30px;
  text-align: center;
  top: 40px;
  width: 130px;
}

a[href*="fcgomel"] {
  left: 25px;
  position: absolute;
  top: 7px;
}
